@import "config", "home", "menu", "about", "projects", "contact", "responsive";

body {
  background: $primary-colour;
  color: set-text-colour($primary-colour);
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3 {
  font-weight: 500;
}

a {
  color: set-text-colour($primary-colour);
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

.text-secondary {
  color: $secondary-colour;
}

main {
  height: 100%;
  width: 100%;

  .icons {
    position: fixed;
    bottom: 1rem;
    left: 1rem;

    a {
      padding: 0.4rem;
      @include transition-ease;

      &:hover {
        color: $secondary-colour;
      }
    }
  }
}

footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  text-align: right;
  padding: 1rem;
  color: set-text-colour($primary-colour);
}
